{%load staticfiles%}
<html>
    <head>
        <title>Movie Rater</title>
	 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static "css/movierater.css" %}">
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head> 

    <body>

    <div class="page-header">
	<h1>Movie Rater</h1>
    </div>
    
    <div class="new-movie">
    	<a href="/add_movie/"> Add a new movie </a>
    </div>

    <div class="movies">
        {% for movie in movies %}
            <!-- {% if movie.published_date %} -->
                <!-- <div class="date"> -->
                    <!-- {{ movie.published_date }} -->
                <!-- </div> -->
            <!-- {% endif %} -->
            
	    <div class="content container">
		<div class="row">
			<div class="col-md-8">
            <h1>{{ movie.title }}</h1>
	    {% if movie.poster %}
            <p><img src="{{ movie.poster }}" alt={{movie.title}} width="200"
            height="128"></p>
            {% endif %}
	     {% if movie.rating %}
	    	<p><strong>Current rating</strong> {{movie.rating|floatformat}}</p>
	     {% else %}
		<p><strong>Not rated yet!</strong> </p>
	    {% endif %}
            <p> Released on {{ movie.launch_date }}</p>
	    <p><a href="{{ movie.imdb_link }}"> IMDb page </a></p>	
	    <a href="/vote_movie/{{ movie.id }}/"> Vote this movie </a>
	    </div>
	    </div>
	    </div>
        {% endfor %}
    </div>

    </body>
</html>
